<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/stylesheets/timetable.css" type="text/css" rel="stylesheet">
</head>
<body>
    <%- include nav.ejs %>
    <br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="timetable-img text-center">
                <img src="img/content/timetable.png" alt="">
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr class="bg-light-gray">
                            <th class="text-uppercase">項目</th>
                            <th class="text-uppercase">星期一</th>
                            <th class="text-uppercase">星期二</th>
                            <th class="text-uppercase">星期三</th>
                            <th class="text-uppercase">星期四</th>
                            <th class="text-uppercase">星期五</th>
                            <th class="text-uppercase">星期六</th>
                            <th class="text-uppercase">星期日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">倒客廳&廚房垃圾(偶數週)</td>
                            <td>
                                <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">小帥</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Alvin</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">倒客廳&廚房垃圾（奇數週）</td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">偉軒</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">慶陽</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">要熊</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">煮水</td>
                            <td>
                                <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">小帥</span>
                            </td>
                            <td>
                                <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">偉軒</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Alvin</span>
                            </td>
                            <td>
                                <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">慶陽</span>
                            </td>
                            <td>
                                <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">要熊</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">丟水盆清潔網</td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">無</span>
                            </td>
                            <td>
                                <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">要熊</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">洗廁所&倒廁所垃圾</td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">垃圾甫</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">垃圾甫</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">垃圾甫</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">垃圾甫</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">垃圾甫</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">垃圾甫</span>
                            </td>
                            <td>
                                <span class="bg-secondary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">垃圾甫</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <iframe height="600px" width="90%" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTt5WewFejoyk-xHtNXP68TuY_vvcUCrozz_t6a9Er_FZrLJ9mXC8Iz-xLchMszXwSbl4l3lrQtyccd/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
</body>
</html>